@font-face {
    font-family: "Source Code Pro";
    font-weight: 100, 200, 300, 400, 500, 600, 700, 800;
    font-style: normal;
    src: url(./assets/SourceCodePro.ttf) format("truetype");
}
@font-face {
    font-family: "Source Code Pro";
    font-weight: 100, 200, 300, 400, 500, 600, 700, 800;
    font-style: italic;
    src: url(./assets/SourceCodePro-Italic.ttf) format("truetype");
}
.container {
    position: absolute;
    left: 0vw;
    top: 0vh;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#canvas, #overlayCanvas {
    position: absolute;
    left: 8px;
    top: 8px;
    width: 640px;
    height: 640px;
    border: 1px solid black;
}